# Environment files
.env
.env.local
.env.*.local

# Data files
*.csv
*.tsv
*.txt
*.TXT
*.log
*.json
*.edi
*.EDI
*.dat
*.DAT

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/